/*Footer.css*/
.footer {
    text-align: center;
    background-color: #004811;
    color: #61dafb;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  
  .footer a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  